# Virtual environments
*.venv/
*venv/

# Mind maps
mapas_mentales/

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

datasets/genia_services_csv_german_credit_risk_v1.0.0_training_20250824